
<div class="bgImg">
<app-header></app-header>
<div class="container bg">
<div><h2>LOGIN YOURSELF AND GET STARTED</h2></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 userLogin" >
         
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <h1>LOGIN</h1>
            <div class="form-group">
                    <label for="email" >Mail</label>
                    <input type="email"
                     id="email" 
                     name="email"
                     ngModel class="form-control"
                     required
                     email
                     #email="ngModel">
                    <span *ngIf="!email.valid && email.touched">PLEASE ENTER CORRECT EMAIL</span>
                </div>
        <div class="form-group">
                <label for="password" >PASSWORD</label>
                <input
                 type="password" 
                 id="password" 
                 name="password"
                  ngModel class="form-control" 
                  required
                   #password="ngModel">
                <span *ngIf="!password.valid && password.touched">please enter password</span>
            </div>
    
            
     <div class="button">
    <button class="btn btn-primary" (click)="userShow()"    [disabled]="!f.valid" type="submit"
    >Login</button>
    </div>
     </form>

     <div class="text-align:center" *ngIf="errorshow && !authService.loggedIn()"><h5 class="warning">YOU DONT HAVE ANY ACCOUNT PLEASE REGISTER YOURSELVES </h5></div>

     </div>
     <div class=col-lg-4></div>
    </div>
   
      <div class="align-center">
     <button type="button "
      *ngIf=" show" 
      (click)="errorShow()"
      class="   proceed btn btn-success  "
      [routerLink]="['/usercourse','usercourselist']"
      ><span class="glyphicon glyphicon-hand-right">
     </span>     PROCEED FURTHER</button></div>        
      </div>
    
    </div>


