
<div class="background">
<div class="row  padding">
<app-header></app-header>
 <DIV class="heading"><h3>ADD NEW COURSE</h3></DIV>
    <div class="col-lg-4"><img  class="image"src="https://t4.ftcdn.net/jpg/01/43/81/27/500_F_143812740_RPFhNjIipg0XnsyJIpKKQOy7LaobabTr.jpg"></div>
    <div class="col-lg-4">

    
<div class="row form">
    <div class="padding">
    <div class="col-xs-12">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit"  [disabled]="!courseForm.valid" class="btn btn-success heading">Save</button>
                    <button type="button" (click)="onCancle()"class="btn btn-danger heading">Cancle</button>
                    <button type="button" *ngIf="this.editMode"(click)="onDelete()" class="btn btn-danger heading">Delete</button>
                </div>
            </div>
            <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name " class="heading">Name</label>
                    <input type="text" id="name" formControlName="name" class="form-control">
                  
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath " class="heading">Image URL</label>
                        <input type="text" id="imagePath" formControlName="imagePath" class="form-control" 
                        #imagePath>
                      
                    </div>
                </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="videoPath " class="heading">VIDEO  URL</label>
                                <input type="text" id="videoPath" formControlName="videoPath" class="form-control" 
                                #videoPath>
                              
                            </div>
                        </div>
                        </div>
                      
            <div class="row">
                    <div class="col-xs-12">
                        <img [src]="imagePath.value" class="img-responsive">
                    </div>
            </div>
            
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description" class="heading" >Description</label>
                            <textarea  formControlName="description"type="text" id="description" class="form-control" rows="6">
                              </textarea>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="price " class="heading">price</label>
                                    <input type="number" [maxlength]=4 id="price" formControlName="price" class="form-control">
                                    </div>

                                </div>
                    </div>
                
    <div class="form-group">
    <input  type="radio"  formControlName="category" value="WebDevelopment" > <span class="heading" required>WEB DEVELOPMENT </span><br>
    <input  type="radio"  formControlName="category" value="Designing"> <span class="heading" required>DESIGNING </span><br>
    <input  type="radio"  formControlName="category"  value="Craft"><span class="heading" required> ARTS AND CRAFT </span><BR>
    <input  type="radio"  formControlName="category" value="Music"><span class="heading" required >MUSIC </span><BR>
    </div>
  
             
    </form>
    </div>
    </div>
    </div>
                           

            </div>
             <div class="col-lg-4"></div>

</div>
</div>

