
.padding
{
  padding-bottom:18px;
}
.form{
    border-radius:2%;
    background: white;
}
.background
{
    background: #3BBBF1;

}
.heading{
    text-align:center;
    font-family: cursive

}
.image{
    width:100%;
    height:400px;
    padding-top:100px;
    border-radius:4%;
}